<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
        <link rel="stylesheet" href="./static/home.css">

</head>
<body>
<header>
    <div class="center-text">
            <h1>Billing Application</h1>
    </div>

</header>
 <div class="left-text">
        <form method="POST">
        <h2>Enter customer number</h2>
         <input type="number" id="customernumber" name="customernumber" required>

            <input type="submit"  name="submit" value="submit">

            </form>

    </div>

</body>
</html>